@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter';
  background-color: #f5f5f5;
  color: black;
}
:root{
  --orange-secondary: #fa7d00;
  --black: #000000;
  --dark-orange: #e37b31;
  --grey: #9b9b9b;
  --orange: #FC944C;
}