.button-primary{
    border: none;
    border: solid 2px var(--orange);
    background-color: var(--orange);
    font-size: 18px;
    color: white;
    padding: 8px 60px 8px 60px;
    border-radius: 12px;
    font-weight: 500;
    &:hover{
        border: solid 2px var(--orange);
        color: var(--orange);
        background-color: transparent;
        font-weight: 500;
        transition: all 0.9s ease;
    }
}